.tutorial_wrapper {
	height: 100vh;
	width: 100vw;
	background:black;
	overflow:hidden;
  display: grid;
	grid-template-rows: max-content 1fr;
  justify-content: center;
}

.header {
	background: var(--main-bg);
	z-index: 999;
}

.video {
  min-width: 100vw;
  max-height: 100vh;
	opacity: 0;
	transition: opacity 1s;
}

.playing {
	opacity: 1;
}

.description {
	text-align: center;
	position: absolute;
	height: 30%;
	bottom:0;
	width: 100%;
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5555266051733193) 34%, rgba(0,0,0,1) 100%);
}

.description h2 {
	font-size: 42px;
	color: white;
	font-weight: bold;
	text-shadow: -2px 2px 5px black;
}

.description button {
	border: none;
	background: var(--main-nav-bg-active);
	color: var(--main-nav-cl-active);
  padding: 15px 30px;
  margin: 10px 5px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.description .back svg {
	margin-right: 5px;
}

.description .back {
  background: var(--main-btn-bg);
  color: black;
}

.timer {
	animation: transitionToTimer 1.5s forwards ease-out;
	display: grid;
	grid-template-rows: max-content;
}

.timer > button {
	display: none;
}

@keyframes transitionToTimer {
	0% {
		background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.55) 34%, rgba(0,0,0,1) 100%);
		height: 30%;
		padding: 0px;
		padding-top: 20px;
	}
	30% {
		height: calc(100vh - 82px);
		background: rgba(	110 138 250 / 0.1);
	}
	100% {
		height: calc(100vh - 82px);
		background: rgba(	110 138 250 / 0.5);
		padding: 0;
		padding-top: 20px;
	}
}