.timer_wrapper {
	background: var(--reps-card-bg);
	color: var(--reps-card-cl);
	margin-top: 10px;
	border-radius: 30px 30px 0 0;
	display: grid;
	grid-template-rows: max-content 1fr max-content;
}

.timer_wrapper h3 {
	margin-top: 40px;
	font-size: 30px;
}

.dial {
	width: 100vw;
	overflow-y: scroll;
  scroll-snap-type: both mandatory;
	display: grid;
	align-items: center;
  scrollbar-width: none;
}

.dial ul {
	list-style-type: none;
	display: flex;
}

.dial li {
	font-size: 36px;
	font-weight: bold;
	padding:20px;
	color: var(--reps-card-inactive-cl);
	scroll-snap-align: center;
	transition: 0.1s all;
	transform: scale(1) translateY(0);
}


.dial li:first-child {margin-left: 52vw}
.dial li:last-child {margin-right: 52vw}

.dial li::after {
	content: '';
	position: relative;
	display: block;
	height: 20px;
	width: 6px;
	background: var(--reps-card-inactive-line);
	top: 0;
	left: calc(50% - 3px);
}

.dial li.selected {
	transform: scale(1.2) translateY(-10px);
	color: black;
}

.timer_wrapper button {
	width: 76vw;
	padding: 25px;
	border-radius: 10px;
	margin:20px auto;
}