.container {
  position: absolute;
  inset: 0;
  z-index: 3;
}

.header {
  background-color: rgb(110 138 250 / .85); /* var(--reps-btn-bg) + opacity */
  color: white;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 5px 5px rgba(0 0 0/.3);
  z-index: 3;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: max-content;
  padding: 20px;
}

.header svg {
  color: white;
}