.container {
	background: var(--auth-bg);
	color: var(--auth-cl);
	height: 100vh;
	height: -webkit-fill-available;
	width: 100vw;
	margin:0;
	padding:0;
	overflow: hidden;
	text-align: center;
	display: grid;	
	grid-template-rows: 1fr max-content;
}

.container form {
	max-width: 500px;
	margin:0 auto;
	display: flex;
	flex-direction: column;
}

.container form select {
	margin: 2% 4%;
	padding: 4%;
	background: var(--auth-bg);
	color: var(--auth-cl);
	border: 1px solid var(--auth-cl);
	text-transform: uppercase;
}

.container form input {
	margin: 2% 4%;
	padding: 4%;
	background: var(--auth-bg);
	color: var(--auth-cl);
	border: 1px solid var(--auth-cl);
	text-transform: uppercase;
}

.container div {
	margin: 4%;
}

.h1_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container a {
	color: var(--auth-cl);
	margin: 0 .2em;
}