.menu {
  padding: 1em;
}

.avatar_container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.avatar {
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
  background-size: cover;
  border-radius: 100px;
  border: 3px solid var(--main-menu);
}

.displayName {
  margin-top: 0.5em;
  text-align: center;
  color: var(--main-menu);
  font-size: 1.2rem;
  font-weight: bold;
}

.email {
  text-align: center;
  color: var(--main-menu);
  font-size: 0.8rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.box {
  text-align: center;
}

.title {
  font-weight: bold;
  color: var(--main-menu);
}
