.card {
  background: var(--main-card-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  text-align: center;
  max-height: 100%;
  height: 400px;
  color: var(--main-card-cl);
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
  max-width: 80vw;
}
.title {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  max-width: 100vw;
}

.features {
  display: flex;
  justify-content: center;
}

.features ul {
  padding: 0;
  margin: 0 auto;
  text-align: left;
  list-style-type: none;
}

.features li:first-child {
  color: var(--main-card-alt);
}

.features li {
  font-weight: bold;
}

.btn_wrapper {
  padding: 10px;
  padding-bottom: 40px;
}

.btn {
  background: var(--main-btn-bg);
  color: var(--main-btn-cl);
  padding: 15px 30px;
  margin: 0 -20px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.image_container {
  background: no-repeat center center;
  background-size: contain;
  margin-bottom: 5px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
