.container {
	height: calc(100vh - 82px);
	display: grid;
	justify-content: center;
	align-items: center;
	transition: background-color .5s;
}

.bar {
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
  height: 48px;
}

.bar div {
  height: 100%;
  transition: width 0.5s;
}

.bar span {
  position: absolute;
  color: white;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.first div {
  background-color: blue;
}
.second div {
  background-color: red;
}
