.icon {
  color: var(--main-menu);
  font-size: 2em;
}

.avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 100px;
}

.header {
  margin: 1em;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
