* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*:focus {
    outline: none;
}

body {
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
}

:root {
  --auth-bg: #6e8afa;
  --auth-cl: #fff;
  --auth-btn-bg: #fff;
  --auth-btn-cl: #6e8afa;

  --menu-bg: #6e8afa;
  --menu-cl: #fff;

  --main-bg: #fff;
  --main-cl: #0d1333;
  --main-cl-alt: #6e7595;

  --main-input-bg: #f5f5f7;
  --main-input-cl: #404870;
  --main-input-ph: #6b7192;

  --main-menu: #737373;

  --main-card-bg: #fff;
  --main-card-cl: #000;
  --main-card-alt: #6e8afa;

  --main-btn-bg: #5c5b5a;
  --main-btn-cl: #fff;

  --main-nav-cl: #605a65;
  --main-nav-cl-active: #fff;
  --main-nav-bg-active: #6e8afa;

  --reps-bg: #8da3fb;
  --reps-cl: #fff;
  --reps-card-bg: #fff;
  --reps-card-cl: #0d1333;
  --reps-card-inactive-cl: #8f929b;
  --reps-card-inactive-line: #eeeef0;

  --reps-btn-bg: #6e8afa;
  --reps-btn-cl: #fff;
}
