.grid_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "avatar_container name_container"
    "info_container info_container";
}

.avatar_container {
  grid-area: avatar_container;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.avatar {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 100px;
  border: 1px solid grey;
}

.small_text {
  font-size: small;
  margin: 0.5rem;
}

.name_container {
  grid-area: name_container;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5rem;
  background-color: var(--menu-bg);
}

.name {
  font-size: 2rem;
  color: var(--menu-cl);
}

.email {
  color: var(--menu-cl);
}

.info_container {
  grid-area: info_container;
  margin: auto;
}

.button {
  margin: 2% 4%;
  padding: 4%;
  background: var(--auth-bg);
  color: var(--auth-cl);
  border: 1px solid var(--auth-cl);
  -webkit-appearance: none;
  border-radius: 0;
}
